<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background: #ccc;
        }
        /* Extra small devices (phones, 600px and down) */
        @media only screen and (max-width: 600px) {
            .content {
                width: 400px;
            }
        }

        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (min-width: 600px) {
            .content {
                width: 500px;
            }
        }

        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {
            .content {
                width: 640px;
            }
        }

        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
            .content {
                width: 800px;
            }
        }

        /* Extra large devices (large laptops and desktops, 1200px and up) */
        @media only screen and (min-width: 1200px) {
            .content {
                width: 900px;
            }
        }
        .content h1{
            text-align: center;
        }
        .slider {
            position: relative;
            padding-top: 320px;
            margin: 50px auto;
            box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
        }

        .slider > img {
            position: absolute;
            left: 0;
            top: 0;
            transition: all 0.5s;
            width: 100%;
            height: 100%;
        }

        .slider input[name='slide_switch'] {
            display: none;
        }

        .slider label {
            margin: 18px 0 18px 18px;
            border: 3px solid #999;
            float: left;
            cursor: pointer;
            transition: all 0.5s;
            opacity: 0.6;
        }

        .slider label img {
            display: block;
        }

        .slider input[name='slide_switch']:checked + label {
            border-color: #666;
            opacity: 1;
        }

        .slider input[name='slide_switch'] ~ img {
            opacity: 0;
            transform: scale(1.1);
        }

        .slider input[name='slide_switch']:checked + label + img {
            opacity: 1;
            transform: scale(1);
        }
        .disable {
            background: #666666;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="content col-12">
        <h1 class="mt-3">Welcome to <%= title %></h1>
        <div class="m-5">API endpoint at
            <code><a href="/image-process">/image-process</a></code>
            for queries containing at least a valid imageName and it can be used both width and height to set the
            size...
            <div>Examples:</div>
            <ul>
                <li><a target="_blank" href="/image-process?imageName=fjord">/image-process?imageName=fjord</a></li>
                <li><a target="_blank" href="/image-process?imageName=fjord&width=100&height=100">/image-process?imageName=fjord&width=100&height=100</a></li>
            </ul>
        </div>
    </div>
    <div class="content col-12">
        <div class="m-5 text-center">
            <h5>Upload new image</h5>
            <br>
            <form class="d-flex justify-content-center form-inline" method="post" action="/image-process" enctype="multipart/form-data" name="form-image">
                <div class="form-group">
                    <input type="file" name="image" class="input-group input-file" id="input-file" required/>
                </div>
                <button type="submit" id="upload-btn" name="upload" class="btn btn-secondary pull-right" >Upload</button>
            </form>
        </div>
    </div>
    <div class="content slider mt-5">
        <% for(let i = 0; i < existOriginImages?.length; i++) { %>
        <input type="radio" name="slide_switch" id="id<%= i+1 %>" checked="checked" />
        <label for="id<%= i+1 %>">
            <img src="<%= 'public/images/origin/'+existOriginImages[i] %>" width="100" height="90"/>
        </label>
            <img class="main-image" src="<%= 'public/images/origin/'+existOriginImages[i] %>" data-image-name="<%=existOriginImages[i].split('.')[0]%>"/>
        <% } %>
    </div>
</div>
<script>
  function getParameterByName(name, url = window.location.href) {
    const regex = new RegExp('[?&]' + name.replace(/[\[\]]/g, '\\$&') + '(=([^&#]*)|&|#|$)');
    const results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, ' '));
  }

  function addListenerToImage() {
    const images = document.getElementsByClassName("main-image");
    for(let i = 0; i < images.length; i++) {
      let image = images[i];
      image.onclick = function(event) {
        const width = prompt("Enter image width or let it be blank to get the origin image:","")
        const height = prompt("Enter image height or let it be blank to get the origin image:","")
        let url = '';
        const widthValue = Number(`${width}`);
        const heightValue = Number(`${height}`);

        if (!isNaN(widthValue) && !isNaN(heightValue)) {
          url = `image-process?imageName=${image.getAttribute("data-image-name")}&width=${widthValue}&height=${heightValue}`;
        } else {
          url = `image-process?imageName=${image.getAttribute("data-image-name")}`;
        }

        const newTabRef = window.open('');
        window.oldOpen = window.open;
        window.open = (url) => {
          newTabRef.location = url;
          window.open = oldOpen;
          newTabRef.focus();
        }
        window.open(url);
      };
  }
  }

  function listenToInputChange() {
    let buttonUpload = document.getElementById("upload-btn");
    let input = document.getElementById("input-file");

    input.addEventListener('input', (e) => {
      if (!!e.target.value) {
        buttonUpload.classList.remove('btn-secondary');
        buttonUpload.classList.add('btn-primary');
      } else {
        buttonUpload.classList.remove('btn-primary');
        buttonUpload.classList.add('btn-secondary');
      }
    })
  }

  (function () {
    const isUploadSuccess = getParameterByName('uploadSuccess') === 'true';
    if (isUploadSuccess) {
      alert('Image was uploaded successfully!')
    }
    addListenerToImage();
    listenToInputChange();
  })();

</script>
</body>
</html>
